.text-primary {
  color: #006FD1 !important;
}

.text-dark {
  color: #003A6E !important;
}

.text-muted {
  color: #8FA7BE !important;
}

.text-sm {
  font-size: 14px !important;
  line-height: 1.4 !important;
}

a {
  color: #003B6F;
}

a:hover {
  color: #003A6E;
}

.bg-primary {
  background-color: #2D4A81 !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.btn {
  font-weight: 500;
}

.btn:focus, .btn:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn.btn-primary {
  background: #003B6F;
  border-color: #003B6F;
}

.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
  background: #002A50 !important;
  border-color: #002A50 !important;
  outline: none !important;
}

.btn.btn-outline-primary {
  background: transparent;
  color: #003B6F;
  border-color: #003B6F;
}

.btn.btn-outline-primary:focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary:hover {
  background: #002A50 !important;
  border-color: #002A50 !important;
  color: #ffffff !important;
  outline: none !important;
}

.btn.btn-gold {
  background: #C09451;
  border-color: #C09451;
  color: #ffffff;
}

.btn.btn-gold:focus, .btn.btn-gold:active, .btn.btn-gold:hover {
  background: #A4752F !important;
  border-color: #A4752F !important;
  outline: none !important;
}

.btn.btn-link {
  color: #C09451;
}

.btn.btn-light {
  color: #003B6F !important;
}

a.card:hover {
  text-decoration: none;
}

.card-border-bottom {
  position: relative;
}

.card-border-bottom:before, .card-border-bottom:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #BED4EA;
}

.card-border-bottom:after {
  width: 0%;
  background-color: #C09451;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.card-border-bottom:hover:after {
  width: 100%;
}

.card-images {
  background-color: #E5EDF5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  padding-top: 60%;
}

.page-link {
  color: #2D4A81;
  font-weight: 500;
  font-size: .87rem;
}

.page-link:hover {
  background-color: #E5EDF5;
}

.page-item.active .page-link {
  background-color: #2D4A81;
  border-color: #2D4A81;
}

.collapse-block .btn {
  position: relative;
  z-index: 99;
}

.card-collapse {
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-top: -4px;
}

.form-control::-webkit-input-placeholder {
  color: #003B6F;
  opacity: .5;
}

.form-control:-ms-input-placeholder {
  color: #003B6F;
  opacity: .5;
}

.form-control::-ms-input-placeholder {
  color: #003B6F;
  opacity: .5;
}

.form-control::placeholder {
  color: #003B6F;
  opacity: .5;
}

.form-control {
  color: #003A6E !important;
  border-color: #BED4EA;
}

.breadcrumb-item.active {
  color: #00549F;
  opacity: .8;
}

.table {
  color: #003A6E;
}

.table-bordered {
  border-color: #BED4EA;
}

.table .thead-light th {
  background-color: #E5EDF5;
  border-color: #BED4EA;
  color: #003A6E;
}

.table-hover tbody tr:hover {
  background-color: #F2F7FC;
  color: #003A6E;
}

.table-bordered td, .table-bordered th {
  border-color: #BED4EA;
}

.page-item.disabled .page-link {
  color: #00549F;
  opacity: .8;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.border-bottom,
.border-top,
.border-right,
.border-left {
  border-color: #BED4EA !important;
}

.lift {
  -webkit-transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
  transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
  transition: box-shadow .25s ease, transform .25s ease;
  transition: box-shadow .25s ease, transform .25s ease, -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
}

.lift:hover,
.lift:focus {
  -webkit-box-shadow: 0 1rem 2.5rem rgba(0, 58, 110, 0.1), 0 0.5rem 1rem -0.75rem rgba(0, 58, 110, 0.1) !important;
          box-shadow: 0 1rem 2.5rem rgba(0, 58, 110, 0.1), 0 0.5rem 1rem -0.75rem rgba(0, 58, 110, 0.1) !important;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

.lift-lg:hover,
.lift-lg:focus {
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 58, 110, 0.1), 0 0.5rem 1rem -0.75rem rgba(0, 58, 110, 0.05) !important;
          box-shadow: 0 2rem 5rem rgba(0, 58, 110, 0.1), 0 0.5rem 1rem -0.75rem rgba(0, 58, 110, 0.05) !important;
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
}

.bg-white {
  background: #ffffff !important;
}

.bg-dark-navy {
  background: #003B6F !important;
  color: #ffffff;
}

.bg-darkest-navy {
  background: #002A50 !important;
  color: #ffffff;
}

.bg-navy {
  background: #2D4A81 !important;
  color: #ffffff;
}

.bg-blue {
  background: #006FD1 !important;
  color: #ffffff;
}

.bg-grey {
  background: #BED4EA !important;
}

.bg-gold {
  background: #C09451 !important;
}

.bg-light-grey {
  background: #E5EDF5 !important;
}

.bg-lighter-grey {
  background: #F2F7FC !important;
}

.text-grey {
  color: #BED4EA !important;
}

.text-gold {
  color: #C09451 !important;
}

.text-regular {
  font-weight: 400 !important;
}

.a-link {
  text-decoration: underline;
}

.link-gold {
  color: #C09451 !important;
}

.link-blue {
  color: #006FD1 !important;
}

hr.blue {
  border-color: #006FD1;
}

hr.grey {
  border-color: #BED4EA;
}

body {
  color: #003A6E;
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: none;
  }
}

.section {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.section-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.section-xlg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section.section-xxlg {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section.section-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E5EDF5;
  color: #ffffff;
  position: relative;
}

.section.section-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #003B6F;
  opacity: .5;
}

.section .section-title {
  color: #003A6E;
  display: block;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 100%;
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}

.main-nav--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-nav--menu .main-nav--menu-list {
  display: block;
  position: relative;
}

.main-nav--menu .main-nav--menu-list .menu-list--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  height: 72px;
  background: #ffffff;
  color: #003B6F;
  padding-left: 14px;
  padding-right: 14px;
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.main-nav--menu .main-nav--menu-list .menu-list--btn:hover {
  background: #F2F7FC;
  text-decoration: none;
}

.menu-list--dropdown .menu-list--btn {
  position: relative;
  padding-right: 28px !important;
}

.menu-list--dropdown .menu-list--btn:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14px;
  width: 10px;
  height: 10px;
  background-image: url("../images/chevron-down.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.menu-list--dropdown-content {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
  top: 90%;
  min-width: 200px;
  background: #F2F7FC;
  padding: 10px 12px;
}

.menu-list--dropdown-content:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #C09451;
}

.menu-list--dropdown-content .dropdown-content--list {
  display: block;
  padding: 8px 8px;
  font-size: 13px;
  color: #003B6F;
  background: #F2F7FC;
  font-weight: 500;
}

.menu-list--dropdown-content .dropdown-content--list:hover {
  text-decoration: none;
  color: #003B6F;
  background: #E5EDF5;
  border-radius: 4px;
}

.menu-list--dropdown:hover .menu-list--dropdown-content {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  top: 100%;
}

.menu-list--dropdown:hover .menu-list--btn {
  background: #F2F7FC !important;
}

.menu-list--dropdown-content-mobile {
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background: #ffffff;
  -webkit-transition: none;
  transition: none;
  padding: 0;
}

.menu-list--dropdown-content-mobile:before {
  display: none;
}

.menu-list--dropdown-content-mobile .dropdown-content--list {
  background: #ffffff;
  font-size: 14px;
}

.extra-menu {
  display: block;
  width: 100%;
  background-color: #003A6E;
  padding: 6px 16px;
  color: #ffffff;
}

.extra-menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra-menu--list .extra-menu--item {
  margin: 0 4px;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #003A6E;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.extra-menu--list .extra-menu--item:hover {
  background-color: #006FD1;
  text-decoration: none;
}

.extra-menu--list .extra-menu--item.covid19 {
  background-color: red;
  color: #ffffff;
}

.extra-menu--list .extra-menu--item.covid19:hover {
  background-color: #B00000;
}

.language {
  cursor: pointer;
}

.language a:hover {
  text-decoration: none;
}

.language img {
  height: 14px;
  margin: 0 4px;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.language img:hover {
  opacity: .8;
}

.main-nav--line-graphic {
  display: block;
  position: relative;
  width: 100%;
  height: 8px;
  background: #003A6E;
}

.main-nav--line-graphic.gold {
  background: #C09451;
}

.main-nav--line-graphic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 28%;
  display: block;
  background: #006FD1;
}

.main-nav--mobile {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999;
}

.main-nav--mobile-inner {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.slide-banner--container,
.slide-quotes--container {
  display: block;
  width: 100%;
  position: relative;
  height: auto;
}

.slide-banner--container .prev-slider,
.slide-banner--container .next-slider,
.slide-quotes--container .prev-slider,
.slide-quotes--container .next-slider {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  z-index: 99;
}

.slide-banner--container .prev-slider img,
.slide-banner--container .next-slider img,
.slide-quotes--container .prev-slider img,
.slide-quotes--container .next-slider img {
  width: 32px;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.slide-banner--container .prev-slider:active, .slide-banner--container .prev-slider:focus,
.slide-banner--container .next-slider:active,
.slide-banner--container .next-slider:focus,
.slide-quotes--container .prev-slider:active,
.slide-quotes--container .prev-slider:focus,
.slide-quotes--container .next-slider:active,
.slide-quotes--container .next-slider:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.slide-banner--container .prev-slider:hover img,
.slide-banner--container .next-slider:hover img,
.slide-quotes--container .prev-slider:hover img,
.slide-quotes--container .next-slider:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slide-banner--container .prev-slider,
.slide-quotes--container .prev-slider {
  left: 12px;
}

.slide-banner--container .next-slider,
.slide-quotes--container .next-slider {
  right: 12px;
}

.slide-quotes--container .prev-slider {
  left: -42px;
}

.slide-quotes--container .next-slider {
  right: -42px;
}

@media screen and (max-width: 767px) {
  .slide-quotes--container .prev-slider {
    left: 0;
  }
  .slide-quotes--container .next-slider {
    right: 0;
  }
}

.slide-banner {
  display: block;
  width: 100%;
  position: relative;
}

.slide-banner .slide-banner--item {
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E5EDF5;
  height: 500px;
}

.slide-banner .slide-banner--item .slide-banner--title {
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .slide-banner .slide-banner--item {
    height: 172px;
  }
  .slide-banner .slide-banner--item .slide-banner--title {
    display: none;
  }
}

.slide-banner .slick-arrow {
  z-index: 99;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slide-banner .slick-arrow.slick-prev {
  left: 0;
}

.slide-banner .slick-arrow.slick-next {
  right: 0;
}

.slick-slide {
  outline: none !important;
}

.menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: -12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu-lists .menu-lists--item {
  width: 33.3333333333%;
  font-size: 14px;
  color: #ffffff;
  display: block;
  position: relative;
  padding-bottom: 12px;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-lists .menu-lists--item:before, .menu-lists .menu-lists--item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 18px);
  display: block;
  background-color: #00549F;
  height: 1px;
}

.menu-lists .menu-lists--item:after {
  background-color: #C09451;
  width: 0%;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.menu-lists .menu-lists--item:hover {
  text-decoration: none;
}

.menu-lists .menu-lists--item:hover:after {
  width: calc(100% - 18px);
}

.menu-lists .menu-lists--item .menu-lists--icon {
  margin-right: 12px;
}

.menu-lists .menu-lists--item .menu-lists--icon img {
  width: 18px;
  margin-bottom: 1px;
}

@media screen and (max-width: 767px) {
  .menu-lists .menu-lists--item {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-lists .menu-lists--item:before, .menu-lists .menu-lists--item:after {
    display: none;
  }
}

.menu-social-media {
  background-color: #004179;
  border-radius: 4px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-social-media .menu-social-media--item {
  width: 33.3333333333%;
  height: 48px;
  padding: 4px;
}

.menu-social-media .menu-social-media--item .inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #08477E;
  border-radius: 4px;
}

.menu-social-media .menu-social-media--item .inner img {
  width: 20px;
}

.article-clean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #003A6E;
  font-weight: 500;
  height: 100%;
  position: relative;
  padding: 12px;
  padding-bottom: 14px;
}

.article-clean:before, .article-clean:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #E5EDF5;
  height: 1px;
}

.article-clean:after {
  width: 0%;
  background-color: #C09451;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.article-clean .date {
  margin-right: 18px;
  text-align: center;
  width: 28px;
  background: #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.article-clean .date .date-number {
  font-size: 24px;
  display: block;
  color: #C09451;
}

.article-clean .date .month {
  font-size: 12px;
  color: #C09451;
}

.article-clean .article-title {
  font-size: 16px;
  padding-top: 2px;
}

.article-clean:hover {
  text-decoration: none;
  color: #003A6E;
}

.article-clean:hover:after {
  width: 100%;
}

.article-clean .images {
  width: 180px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E5EDF5;
  background-color: #E5EDF5;
  border-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.article-clean.article-sidebar {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-clean.article-sidebar .images {
  width: 100px;
  height: 64px;
  margin-right: 1rem;
  margin-top: 8px;
}

.article-clean.article-lg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-clean.article-lg .article-title {
  font-size: 18px;
}

.tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #BED4EA;
  margin-bottom: 22px;
}

.tab-header .tab-header--title {
  font-weight: 500;
  color: #003A6E;
  text-transform: uppercase;
  letter-spacing: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 42px;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .tab-header .tab-header--title {
    margin-right: 22px;
  }
}

.tab-header--menu .nav-link {
  padding: 0;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #3F79AC;
  letter-spacing: 2px;
  height: 30px;
  font-size: 13px;
}

.tab-header--menu .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #C09451;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.tab-header--menu .nav-tabs {
  border-bottom: none;
}

.tab-header--menu .nav-tabs .nav-item {
  margin-bottom: 0;
  margin-right: 22px;
}

.tab-header--menu .nav-tabs .nav-link {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tab-header--menu .nav-tabs .nav-link.active {
  background: transparent;
  color: #C09451;
  border-color: none;
}

.tab-header--menu .nav-tabs .nav-link.active:before {
  width: 100%;
}

.tab-header--menu .nav-tabs .nav-link:hover {
  color: #C09451;
}

.tab-header--menu .nav-tabs .nav-link:hover:before {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .tab-header--menu .nav-tabs .nav-item {
    margin-right: 14px;
  }
  .tab-header--menu .nav-link {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.quotes-list--item .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 36px;
}

.quotes-list--item .inner .photo-user {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 18px;
}

.quotes-list--item .inner .quotes-list--content .text {
  font-weight: 500;
  display: block;
}

.quotes-list--item .inner .quotes-list--content .name {
  font-size: 14px;
}

.photo-user {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E5EDF5;
}

.photo-user.photo-user--lg {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.photo-user.photo-user--xlg {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.top-menu-3,
.top-menu-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu-3 .top-menu--item,
.top-menu-4 .top-menu--item {
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffffff;
  font-size: 13px;
  padding: 16px 4px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.top-menu-3 .top-menu--item .inner,
.top-menu-4 .top-menu--item .inner {
  z-index: 99;
  position: relative;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.top-menu-3 .top-menu--item .inner img,
.top-menu-4 .top-menu--item .inner img {
  margin-bottom: 3px;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .top-menu-3 .top-menu--item .inner,
  .top-menu-4 .top-menu--item .inner {
    font-size: 11px;
  }
}

.top-menu-3 .top-menu--item:before,
.top-menu-4 .top-menu--item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #C09451;
  width: 0%;
  -webkit-transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, -webkit-transform .25s ease;
  transition: all .25s ease, transform .25s ease;
  transition: all .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.top-menu-3 .top-menu--item:hover,
.top-menu-4 .top-menu--item:hover {
  text-decoration: none;
}

.top-menu-3 .top-menu--item:hover .inner,
.top-menu-4 .top-menu--item:hover .inner {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.top-menu-3 .top-menu--item:hover:before,
.top-menu-4 .top-menu--item:hover:before {
  width: 100%;
}

.top-menu-4 .top-menu--item {
  width: 25%;
}

.top-menu-3 .top-menu--item {
  width: 33.3333333333%;
}

.top-menu--item:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.top-menu--item:last-child:after {
  display: none;
}

.action-list {
  margin: 0;
  padding: 0;
}

.action-list li {
  list-style: none;
}

.action-list li.action-list--title {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
}

.action-list li a {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}

.btn-burger,
.btn-close {
  background-color: #E5EDF5;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  display: inline-block;
  position: relative;
  width: 42px;
  height: 42px;
}

.btn-burger .inner,
.btn-close .inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  width: 30px;
  left: 6px;
  background-color: #003B6F;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-burger .inner:before, .btn-burger .inner:after,
.btn-close .inner:before,
.btn-close .inner:after {
  content: '';
  position: absolute;
  left: 0px;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #003B6F;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-burger .inner:before,
.btn-close .inner:before {
  top: -8px;
}

.btn-burger .inner:after,
.btn-close .inner:after {
  bottom: -8px;
}

.btn-close .inner {
  background-color: transparent;
}

.btn-close .inner:before, .btn-close .inner:after {
  top: 0;
}

.btn-close .inner:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-close .inner:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumb-item.page {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-content p a {
  text-decoration: underline;
  font-weight: 500;
  color: #C09451;
}

.p-content a {
  text-decoration: underline;
  font-weight: 500;
  color: #C09451;
}

.separator {
  position: relative;
  display: block;
  height: 32px;
  background: transparent;
  width: 100%;
}

.separator:before {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 4px 8px;
  background-color: #fff;
  z-index: 99;
}

.separator:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  background-color: #2D4A81;
}

.separator.separator-bg-light:before {
  background-color: #f8f9fa !important;
}

.menu-lists .btn {
  color: #003B6F;
  padding: .8rem 0;
  border-bottom: 1px solid #BED4EA;
  border-radius: 0;
}
/*# sourceMappingURL=styles.css.map */